.admin-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "aside main";
  height: 100dvh;

  @media (width <= 768px) {
    grid-template-areas: "aside aside" "main main";
    grid-template-rows: auto 1fr;

    aside {
      box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.185);
    }
  }

  .page-title {
    margin-top: 0;
    text-align: start;

    h1 {
      margin: 0;
    }
  }

  aside {
    grid-area: aside;
    background-color: var(--section-accent-background-color);
    background-image: url("/images/dark-section-img.png");
    background-size: cover;
  }

  main {
    grid-area: main;
    padding: 2rem;
  }
}

.admin-menu-section {
  color: var(--white-color);

  .admin-menu-title {
    background-color: var(--admin-menu-title-background-color);
    padding: 1rem 1.5rem;
    color: var(--text-color);
    text-align: center;
    font-size: 1.1rem;
  }

  img {
    margin: 1.5rem;
    max-width: 100%;
  }

  .menu.admin {
    display: block;

    .menu-item {
      margin: 0 1.5rem;
      display: flex;
      align-items: center;
      &::after {
        content: "\f054";
        font-family: var(--font-fa);
        font-weight: 900;
        font-size: 1rem;
        margin-left: 2rem;
      }

      &:hover {
        color: var(--menu-link-hover-color);
      }
    }

    .menu-item:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .menu-item-link {
      color: inherit;
      display: inline-block;
      width: 100%;
      padding: 1rem 0;
    }
  }
}
