<section class="section__memberships">
    <div class="container">
        <div class="memberships-area">
            <div class="membership-option" id="standard-membership">
                <div class="membership-information">
                    <div class="weight-icon"></div>
                    <h3>Standard Membership</h3>
                    <hr />
                    <p>With the Standard Membership, get access to our full range of gym facilities.</p>
                    <ul class="check-list">
                        <li class="check-list-item">Standard Locker</li>
                        <li class="check-list-item">High-energy group fitness classes</li>
                        <li class="check-list-item">Motivating & supportive environment</li>
                    </ul>
                </div>
                <div class="info-box">
                    <div class="price">
                        495.00
                        <span>/monthly</span>
                        <div class="note">Monthly 20 Classes</div>
                    </div>

                    <a class="cta btn accent" href="#">Join Now</a>
                    <hr />
                    <div class="additional-information">* Try Any Membership Free for 1 Week</div>
                </div>
            </div>

            <div class="membership-option" id="premium-membership">
                <div class="membership-information">
                    <div class="weight-icon"></div>
                    <h3>Premium Membership</h3>
                    <hr />
                    <p>With the Premium Membership, get access to our full range of gym facilities.</p>
                    <ul class="check-list">
                        <li class="check-list-item">Priority Support & Premium Locker</li>
                        <li class="check-list-item">High-energy group fitness classes</li>
                        <li class="check-list-item">Motivating & supportive environment</li>
                    </ul>
                </div>
                <div class="info-box">
                    <div class="price">
                        595.00
                        <span>/monthly</span>
                        <div class="note">Monthly 20 Classes</div>
                    </div>

                    <a class="cta btn accent" href="#">Join Now</a>
                    <hr />
                    <div class="additional-information">* Try Any Membership Free for 1 Week</div>
                </div>
            </div>

            <div class="membership-contact-info">
                <div class="contact-info">
                    <h3>Get Your Membership</h3>
                    <p>Our memberships give you access to all equipment, personalized training.</p>
                    <hr />
                    <p class="call-us">Call Us At: +(46) 8 410 521 00</p>
                    <a class="btn accent" href="#">Call Us Today!</a>
                </div>

                <div class="contact-info-image">
                    <img src="images/membership-image.png" alt="Woman working out with dumbbell">
                </div>
            </div>
        </div>

        <div class="membership-features">
            <div class="membership-feature schedule-check">Get 30 days free trial</div>
            <div class="membership-feature credit-card">No any hidden fees pay</div>
            <div class="membership-feature clock">You can cancel anytime</div>
        </div>
    </div>
</section>
