<div class="admin-menu-section">
    <nav class="admin-options-menu options-menu">
        <img src="~/images/logotype.png" alt="CoreFitness" />
        <div class="admin-menu-title">
            Admin
        </div>
        <ul class="menu admin">
            <li class="menu-item">
                <a class="menu-item-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    Dashboard
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-area="Admin" asp-controller="Session" asp-action="Index">
                    Manage Sessions
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-area="Account" asp-controller="Home" asp-action="Index">Account</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" href="/">Back To Site</a>
            </li>
            <li class="menu-item">
                <a class="menu-item-link" asp-area="Authentication" asp-controller="SignOut" asp-action="Index">
                    Sign Out
                </a>
            </li>
        </ul>
    </nav>
</div>