@{
    ViewData["Title"] = "My Account";
}

@section Css {
    <link rel="stylesheet" href="~/css/account/about-me.css" asp-append-version="true" />
}

@section ProfileImage {
    <section class="profile-img-section">
        <img src="~/images/profile-image-avatar.png" alt="user profile image" />
    </section>
}

<partial name="Partials/_AboutMeSection" />
