@{
    ViewData["Title"] = "My Account";
}

@section ProfileImage {
    <section class="profile-img-section">
        <img src="~/images/profile-image-avatar.png" alt="user profile image" />
    </section>
}

<h1>About me</h1>
