@model AboutMeViewModel
@{
    ViewData["Title"] = "My Account";
}

@section Css {
    <link rel="stylesheet" href="~/css/account/about-me.css" asp-append-version="true" />
}

@section ProfileImage {
    <section class="profile-img-section">
        @if (!string.IsNullOrWhiteSpace(Model.ProfileImageUrl))
        {
            <img src="@Model.ProfileImageUrl" alt="user profile image" />
        }
        else
        {
            <img src="~/images/profile-image-avatar.png" alt="user profile image" />
        }
    </section>
}

<partial name="Partials/_AboutMeSection" />
<partial name="Partials/_MyStatsSection" />


@section Scripts {
    <partial name="Partials/Globals/_ValidationScripts" />
}