@model AvailableMembershipsViewModel

<section class="available-memberships-section">
    <h2>Available Memberships</h2>
    <div class="memberships-container">
        @if (Model.ErrorMessage is not null)
        {
            <p class="error-message">@Model.ErrorMessage</p>
        }

        @foreach (Membership membership in Model.Memberships)
        {
            <div class="membership">
                <div class="membership-info">
                    <h4 class="membership-name">@membership.Name</h4>
                    <p>Monthly cost: @membership.Price kr</p>
                </div>
                @if (!membership.IsCurrent)
                {
                    <form method="post" asp-controller="Membership" asp-action="SelectPlan">
                        <input type="hidden" id="membershipId" name="membershipId" value="@membership.Id" />
                        <button type="submit" class="btn">Select plan</button>
                    </form>
                }
                else
                {
                    <p class="current-plan">Current plan</p>
                }
            </div>
        }
    </div>
    <a asp-area="" asp-controller="Memberships" asp-action="Index">More info about our memberships</a>
</section>