<h3 class="stats-title">My Statistics</h3>
<section class="my-stats-section container">
    <div class="stat-item">
        <div class="stat-text">
            <h4>Check-In (last 30 days)</h4>
            <p>20</p>
        </div>
        <div class="progress-bar-outer">
            <div class="progress-bar-inner" style="width:67%"></div>
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-text">
            <h4>Weight Goal</h4>
            <p>50%</p>
        </div>
        <div class="progress-bar-outer">
            <div class="progress-bar-inner" style="width:50%"></div>
        </div>
    </div>
    <div class="stat-item">
        <div class="stat-text">
            <h4>Current BMI</h4>
            <p>27</p>
        </div>
        <div class="progress-bar-outer">
            <div class="progress-bar-inner" style="width:27%"></div>
        </div>
    </div>
</section>